<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">

   <!-- <listeners>
		  <listener class-name="day1.listenerClass"/>
		  <listener class-name = "day1.ExtentReportManager"/>
  </listeners>-->
  <test thread-count="5" name="Test">
    <classes>
      
          <!--    <class name="AutomationPractice.TimeSheet"/> -->
      
       <class name='day1.WeTestMain'/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
